[submodule "Projects/Car Prediction Render Deploy"]
	path = Projects/Car Prediction Render Deploy
	url = https://github.com/shreyanshVIT23/CarPricePredictionWebsite.git
[submodule "Projects/Iris Prediction Docker Render Deploy"]
	path = Projects/Iris Prediction Docker Render Deploy
	url = https://github.com/shreyanshVIT23/IrisDatsetModelDockerDeployRender.git
[submodule "Projects/Capstone Project-RAG Chatbot"]
	path = Projects/Capstone Project-RAG Chatbot
	url = https://github.com/shreyanshVIT23/RAGChatbot.git
